<div class="section landing-section">
  <div class="container">
    <div class="row" id="contact-section">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="text-center">
          <h2 class="title">Keep in touch?</h2>
        </div>
        <div class="text-center row">
          <div class="col-md-12 col-sm-12" style="font-size: 18px">
            Contact Details :
          </div>
          <div class="col-md-12 col-sm-12" style="font-size: 18px">
            <span class="icoWhatsapp" title="Twitter"
              ><i class="fa fa-whatsapp" style="color: green"></i
              ><span class="pl-md-1" style="font-size: 16px">
                9022344136</span
              ></span
            >
          </div>
          <div class="col-md-12 col-sm-12">
            <span class="pl-md-1" style="font-size: 16px">
              <i
                class="fa fa-envelope"
                style="
                  margin-right: 0.5rem;
                  font-size: 0.875rem;
                  color: rgb(39 23 23);
                "
              ></i>
              <a
                href="https://mail.google.com/mail/u/0/?tab=wm#inbox?compose=new"
                rel="noopener"
                target="_blank"
                style="text-decoration: underline; color: rgb(39 23 23)"
                >spiritualtruthbs@gmail.com</a
              >
            </span>
          </div>
          <!-- <span style="font-size: 18px"> </span> -->
          <!-- <a class="icoWhatsapp pl-md-4" title="Twitter"
            ><i class="fa fa-whatsapp" style="font-size: 26px; color: green"></i
            ><span class="pl-md-1"> 9967258462</span></a
          > -->
        </div>
        <div class="text-center mt-5">( OR )</div>
        <form class="contact-form">
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
              <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="nc-icon nc-single-02"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label>Email</label>
              <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                />
              </div>
            </div>
          </div>
          <label>Message</label>
          <textarea
            class="form-control"
            rows="4"
            placeholder="Tell us your thoughts and feelings..."
          ></textarea>
          <div class="row">
            <div class="col-md-4 mr-auto ml-auto">
              <button class="btn btn-danger btn-lg btn-fill">
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
