<!-- <app-loader *ngIf="isLoading">{{ isLoading }}</app-loader> -->
<app-landing-page-banner></app-landing-page-banner>
<div class="section" id="video-section">
  <div class="container">
    <div class="text-center t1">
      <h1 class="title">Spritual Truth Study Intro</h1>
    </div>
    <p>
      Spiritual Truth Study is all about the spiritual truths of Bible. The
      truths are being deeply explained by a Servant Of God Bro. Charles Paul.
      Preaching videos and notes of the spiritual topics are being published in
      this website .
    </p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        width="640"
        height="360"
        src="//www.youtube.com/embed/4UaFJcz_Rlk?rel=0&html5=1&vq=hd720&autoplay=1&mute=1&loop=1"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <!-- <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/4UaFJcz_Rlk?rel=0&vq=large"
        frameborder="0"
        allowfullscreen
      ></iframe> -->
      <!-- <iframe
        src="https://www.youtube.com/embed/4UaFJcz_Rlk?autoplay=1&mute=1&loop=1&controls=1&showinfo=0&rel=0&vq=large"
        title="Spiritual Truth Study Introduction"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> -->
      <!-- <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/4UaFJcz_Rlk"
        allowfullscreen
      ></iframe> -->
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Launch static backdrop modal
    </button> -->

<!-- Modal -->
<!-- <div
      class="modal fade"
      id="exampleModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div [ngClass]="{ loader: isLoading }"></div> -->
<!-- 
    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">Loading...</span>
    </div> -->

<!-- <div class="page-header container-fluid" id="carousel">
      <div class="">
        <div class="row">
          <div class="col-md-12 mr-auto ml-auto">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img
                    src="https://img2.shaadi.com/assests/2019/assets/img/test/60-lakh-home-banner-v3.jpg"
                    alt="Random first slide"
                  />
                  <div class="carousel-caption">
                    <p>Somewhere</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="https://img2.shaadi.com/assests/2019/images/60-lakh-home-banner-v3.jpg"
                    alt="Random second slide"
                  />
                  <div class="carousel-caption">
                    <p>Somewhere else</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="https://img2.shaadi.com/assests/2019/images/60-lakh-home-banner-v3.jpg"
                    alt="Random third slide"
                  />
                  <div class="carousel-caption">
                    <p>Here it is</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div> -->
<div class="main" style="background: #f7fbfe">
  <div class="container">
    <div class="text-center" id="overview">
      <h1 class="title">Overview</h1>
    </div>
    <div class="item">
      <ngx-skeleton-loader
        *ngIf="isLoading"
        count="4"
        [theme]="{ 'border-radius': '0', height: '150px' }"
      ></ngx-skeleton-loader>
    </div>
    <ng-container *ngIf="!isLoading">
      <div class="card-group vgr-cards">
        <div class="card" *ngFor="let topic of topicsList">
          <div class="card-img-body">
            <img
              class="card-img"
              [src]="topic.img"
              alt="Card image cap"
              loading="lazy"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title" style="font-weight: 500">
              {{ topic.name }}
            </h4>
            <p class="card-text">
              {{ topic.description }}
            </p>
            <!-- <a class="button arrow">Read More</a> -->
            <a
              [routerLink]="['/topic-detail', topic._id]"
              class="arrow btn btn-outline-primary"
              >View Detail
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="main">
  <div class="section landing-section" id="topics">
    <div class="container">
      <div class="text-center">
        <h2 class="title">Bible Study Topics</h2>
      </div>
      <div class="item" *ngIf="isLoading">
        <ngx-skeleton-loader
          count="4"
          [theme]="{ 'border-radius': '0', height: '65px' }"
        ></ngx-skeleton-loader>
      </div>
      <div class="pt-4" *ngIf="!isLoading">
        <ngb-accordion class="range-accordion" activeIds="ngb-panel-0">
          <ngb-panel
            *ngFor="let topic of topicsList; let index = index"
            id="ngb-panel-{{ index }}"
          >
            <ng-template ngbPanelHeader ngbPanelToggle>
              <div
                class="d-flex justify-content-between"
                [id]="topic._id"
                (click)="handleEvent(topic)"
              >
                <h5
                  class="m-0"
                  style="
                    font-weight: bold;
                    color: #1c2128;
                    font-size: 15px !important;
                  "
                >
                  {{ topic.name }}
                </h5>
                <!-- <div
                  class="d-flex"
                  style="
                    font-weight: bold;
                    color: #1c2128;
                    font-size: 15px !important;
                  "
                >
                  {{ topic.name }}
                </div> -->
                <button
                  ngbPanelToggle
                  class="btn btn-link p-0"
                  (click)="topic.isOpen = !topic.isOpen"
                >
                  <i class="nc-icon nc-minimal-up" *ngIf="topic.isOpen"></i>
                  <i class="nc-icon nc-minimal-down" *ngIf="!topic.isOpen"></i>
                </button>

                <!-- <div class="float-right">
                    <i class="nc-icon nc-minimal-down"></i>
                  </div> -->
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div
                  class="accordion-item"
                  *ngFor="let subTopic of topic.subTopics"
                >
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#flush-collapse' + subTopic._id"
                      aria-expanded="false"
                      [attr.aria-controls]="'flush-collapse' + subTopic._id"
                    >
                      {{ subTopic.name }}
                    </button>
                  </h2>
                  <div
                    [attr.id]="'flush-collapse' + subTopic._id"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-heading"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <div class="motto row my-3">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 col-sm-10">
                          <a
                            href="javascript::void(0)"
                            class="btn btn-round col-sm-12 col-md-5"
                            (click)="watchVideo(subTopic)"
                            ><i class="fa fa-play"></i>Watch Video</a
                          >

                          <button
                            type="button"
                            class="
                              btn btn-round
                              col-sm-12
                              mt-2 mt-sm-0
                              col-md-5
                            "
                            [disabled]="!subTopic.fileLink"
                            (click)="downloadNotes(subTopic)"
                          >
                            <i class="fa fa-download" aria-hidden="true"></i>

                            Download Notes
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
