<!-- <app-loader *ngIf="isLoading">{{ isLoading }}</app-loader> -->

<app-landing-page-banner></app-landing-page-banner>
<div class="section" id="video-section">
  <div class="container">
    <div class="text-center t1">
      <h1 class="title">What is Spritual Truth Study ?</h1>
    </div>
    <p class="mb-4" style="line-height: 2rem">
      Spiritual Truth Study is all about the spiritual truths of Bible. Through
      the inspiration of the Holy Spirit and His revelation that was given to me
      through His grace, this page reveals the truth behind every word of God.
      As the scriptures say
      <strong
        >"He will give you the treasures of darkness and hidden riches of secret
        places. "</strong
      >
      . It is for propagating the Gospel of Jesus Christ and the truth across
      the globe through Holy Spirit inspired writings and videos. Let's get
      transformed and empowered through the word of God by mediating and
      unveiling the truth in the Holy scripture.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        width="640"
        height="360"
        src="//www.youtube.com/embed/nnJOo4R-VqE?rel=0&html5=1&vq=hd720&autoplay=0&mute=1&loop=1"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div class="main" style="background: #f8f9fa">
  <div class="container">
    <div class="text-center" id="overview">
      <h1 class="title">Overview</h1>
    </div>
    <div class="item">
      <ngx-skeleton-loader
        *ngIf="isLoading"
        count="4"
        [theme]="{ 'border-radius': '0', height: '150px' }"
      ></ngx-skeleton-loader>
    </div>
    <ng-container *ngIf="!isLoading">
      <div class="card-group vgr-cards">
        <div class="card" *ngFor="let topic of topicsList">
          <div class="card-img-body">
            <img
              class="card-img"
              [src]="topic.img"
              alt="spiritual truths"
              title="spiritual truth"
              loading="lazy"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title" style="font-weight: 500">
              {{ topic.name }}
            </h4>
            <p class="card-text">
              {{ topic.description }}
            </p>
            <!-- <a class="button arrow">Read More</a> -->
            <a
              [routerLink]="['/topic-detail', topic._id]"
              class="arrow btn btn-outline-primary"
              >View Detail
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="main">
  <div class="section landing-section" id="topics">
    <div class="container">
      <div class="text-center">
        <h2 class="title">Bible Study Topics</h2>
      </div>
      <div class="item" *ngIf="isLoading">
        <ngx-skeleton-loader
          count="4"
          [theme]="{ 'border-radius': '0', height: '65px' }"
        ></ngx-skeleton-loader>
      </div>
      <div class="pt-4" *ngIf="!isLoading">
        <ngb-accordion class="range-accordion">
          <!-- activeIds="ngb-panel-0" -->
          <ngb-panel
            *ngFor="let topic of topicsList; let index = index"
            id="ngb-panel-{{ index }}"
          >
            <ng-template ngbPanelHeader ngbPanelToggle>
              <div
                class="d-flex justify-content-between"
                [id]="topic._id"
                (click)="handleEvent(topic)"
              >
                <h5
                  class="m-0"
                  style="
                    font-weight: bold;
                    color: #1c2128;
                    font-size: 15px !important;
                  "
                >
                  {{ topic.name }}
                </h5>
                <!-- <div
                  class="d-flex"
                  style="
                    font-weight: bold;
                    color: #1c2128;
                    font-size: 15px !important;
                  "
                >
                  {{ topic.name }}
                </div> -->
                <button
                  ngbPanelToggle
                  class="btn btn-link p-0"
                  (click)="topic.isOpen = !topic.isOpen"
                  style="color: black !important"
                >
                  <span>
                    <i class="nc-icon nc-minimal-up" *ngIf="topic.isOpen"></i>
                    <i
                      class="nc-icon nc-minimal-down"
                      *ngIf="!topic.isOpen"
                    ></i>
                  </span>
                </button>

                <!-- <div class="float-right">
                    <i class="nc-icon nc-minimal-down"></i>
                  </div> -->
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div
                  class="accordion-item"
                  *ngFor="let subTopic of topic.subTopics"
                >
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#flush-collapse' + subTopic._id"
                      aria-expanded="false"
                      [attr.aria-controls]="'flush-collapse' + subTopic._id"
                    >
                      {{ subTopic.name }}
                    </button>
                  </h2>
                  <div
                    [attr.id]="'flush-collapse' + subTopic._id"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-heading"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <div class="motto row my-3">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 col-sm-10">
                          <span
                            class="btn btn-round col-sm-12 col-md-5"
                            (click)="watchVideo(subTopic)"
                            ><i class="fa fa-play"></i>Watch Video</span
                          >

                          <button
                            type="button"
                            class="
                              btn btn-round
                              col-sm-12
                              mt-2 mt-sm-0
                              col-md-5
                            "
                            [disabled]="!subTopic.fileLink"
                            (click)="downloadNotes(subTopic)"
                          >
                            <i class="fa fa-download" aria-hidden="true"></i>

                            Download Notes
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>

<!-- 
<app-spiritual-thoughts></app-spiritual-thoughts>
<app-profile></app-profile> -->
