<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="
      background-image: url('./assets/img/daniel-olahh.jpg');
      margin-top: 5%;
    "
  >
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h3>
          எல்லா மனுஷரும் இரட்சிக்கப்படவும், சத்தியத்தை அறிகிற அறிவை அடையவும்,
          அவர் சித்தமுள்ளவராயிருக்கிறார்.
        </h3>
        <!-- <br /> -->
        <!-- <h1>Promise Verse</h1> -->
        <h3 style="font-size: 46px; font-family: 'Nuptial BT', sans-serif">
          Who desires all men to be saved and to come to the knowledge of the
          truth.
        </h3>
        <h4 style="font-size: 16px">
          1 தீமோத்தேயு 2 : 4 &nbsp;&nbsp;&nbsp; I Timothy 2 : 4
        </h4>

        <br />
      </div>
    </div>
  </div>
  <div class="profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="./assets/img/profile-img/profile 2.jpg"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div>
        <div class="name">
          <h4 class="title" style="font-size: 25px">Charles Paul<br /></h4>
          <h6 class="description">Servant Of God</h6>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <p style="font-size: 20px">
              Joyful, Spiritual and Ready to Serve God at any time.
            </p>
            <br />
            <!-- <button class="btn btn-outline-default btn-round">See More</button> -->
          </div>
        </div>
      </div>
      <!-- <div class="row text-center">
        <h3 class="title">My Portfolio<br /></h3>
      </div>

      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p style="font-size: 20px">
            An artist of considerable range, Jane Faker — the name taken by
            Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
            records all of his own music, giving it a warm, intimate feel with a
            solid groove structure.
          </p>
          <br />
        </div>
      </div> -->
      <!-- <br /> -->
      <!-- <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">
            <ngb-tab title="Follows">
              <ng-template ngbTabContent>
                <div class="row following" id="follows">
                  <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled follows">
                      <li>
                        <div class="row">
                          <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                            <img
                              src="./assets/img/faces/clem-onojeghuo-2.jpg"
                              alt="Circle Image"
                              class="img-circle img-no-padding img-responsive"
                            />
                          </div>
                          <div class="col-md-7 col-sm-4 ml-auto">
                            <h6>Flume<br /><small>Musical Producer</small></h6>
                          </div>
                          <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  checked=""
                                />
                                <span class="form-check-sign"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </li>
                      <hr />
                      <li>
                        <div class="row">
                          <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                            <img
                              src="./assets/img/faces/ayo-ogunseinde-2.jpg"
                              alt="Circle Image"
                              class="img-circle img-no-padding img-responsive"
                            />
                          </div>
                          <div class="col-md-7 col-sm-4 ml-auto">
                            <h6>Banks<br /><small>Singer</small></h6>
                          </div>
                          <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  checked=""
                                />
                                <span class="form-check-sign"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Following">
              <ng-template ngbTabContent>
                <h3 class="text-muted">Not following anyone yet :(</h3>
                <br />
                <button class="btn btn-warning btn-round">Find artists</button>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!--sabita // -->
<div class="main" style="padding: 0% 8%">
  <div class="tz-gallery section">
    <div class="text-center">
      <h2 class="title">My Gallery</h2>

      <!-- <p class="page-description text-center">Grid Layout With Zoom Effect</p> -->
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Verse 1" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Verse 2" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Tunnel" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Tunnel" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Tunnel" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Tunnel" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Tunnel" />
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="lightbox" href="../../../assets/img/verse_1.jpg">
          <img src="../../../assets/img/verse_1.jpg" alt="Tunnel" />
        </a>
      </div>
    </div>
  </div>
</div>
