<div class="wrapper" id="profile-section">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="
      background-image: url('./assets/img/daniel-olahh.jpg');
      margin-top: 5%;
    "
  >
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h3 class="tamil-title">
          எல்லா மனுஷரும் இரட்சிக்கப்படவும், சத்தியத்தை அறிகிற அறிவை அடையவும்,
          அவர் சித்தமுள்ளவராயிருக்கிறார்.
        </h3>
        <h3 style="font-family: 'Nuptial BT', sans-serif" class="eng-title">
          Who desires all men to be saved and to come to the knowledge of the
          truth.
        </h3>
        <h4 style="font-size: 16px">
          1 தீமோத்தேயு 2 : 4 &nbsp;&nbsp;&nbsp; I Timothy 2 : 4
        </h4>

        <br />
      </div>
    </div>
  </div>

  <div class="profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="./assets/img/profile-img.jpg"
            alt="spiritual truth study"
            title="spiritual truth"
            class="img-circle img-no-padding img-responsive"
            loading="lazy"
          />
        </div>
        <div class="name">
          <!-- <h2 class="title">About Us<br /></h2> -->

          <h6 class="description">Servant Of God</h6>
          <p>Joyful, Spiritual and Ready to Serve God at any time.</p>
        </div>
        <div class="row">
          <div class="name">
            <h2 class="title">About Us<br /></h2>
          </div>
          <div class="col-md-12">
            <p style="font-size: 18px; line-height: 2.5rem" class="text-center">
              <!-- Joyful, Spiritual and Ready to Serve God at any time. -->
              மும்பையிலுள்ள பெத்தேல் பெந்தேகோஸ்தே சபையில் ஊழியம் செய்து
              கொண்டிருக்கும் நாங்கள், எங்கள் சபையில் நடக்கும் வேதபாட ஆராச்சி
              கூட்டங்களில் ஆவியானவர் மூலமாய் கொடுக்கப்பட்ட ஆழமான தேவ செய்திகளை
              இணையதளம் மூலமாய் எல்லா ஜனங்களுக்கும் கொண்டுசெல்ல வேண்டும் என்ற
              நோக்கில், தேவ சித்தத்தின்படியும் ஆவியானவரின் ஏவுதலின்படியும் இந்த
              Spiritual Truth Bible Study (STBS) ஊழியத்தை ஆரம்பித்துள்ளோம்.
              <b
                >சத்தியத்தையும் அறிவீர்கள், சத்தியம் உங்களை விடுதலையாக்கும்
                (யோவான்.8.32)</b
              >
              என்ற வசனத்தின்படி, சகல ஜனங்களும் தெளிவான, சரியான, ஆழமான சத்தியத்தை
              அறிந்து கொள்ளவேண்டும் என்பது எங்களின் தரிசனமாகும். STBS
              இணையதளத்தில் தேவசெய்திகள் வீடியோ (Video) மூலமாகவும், செய்திகளின்
              குறிப்புக்கள் PDF முறையில் பதிவிறக்கம் செய்யும் படியாகவும்
              கொடுக்கப்பட்டுள்ளது. இவைகள் எல்லாம் இலவசமாக எல்லா ஜனங்களும்
              பெற்றுக்கொள்ளவேண்டும் என்னும் நோக்கத்தோடு கொடுத்துள்ளோம். இந்த
              STBS இணையதளம் மூலம் இன்னும் அநேக ஜனங்களுக்கு சத்தியத்தை கொண்டு
              செல்ல தொடர்ந்து எங்களுக்காக ஜெபியுங்கள். ஆகையால், நீங்கள்
              புறப்பட்டுப்போய் சகல ஜாதிகளையும் சீஷராக்கி, பிதா குமாரன் பரிசுத்த
              ஆவியின் நாமத்திலே அவர்களுக்கு ஞானஸ்நானங்கொடுத்து, நான்
              உங்களுக்குக் கட்டளையிட்ட யாவையும் அவர்கள் கைக்கொள்ளும்படி
              அவர்களுக்கு உபதேசம் பண்ணுங்கள்; இதோ, உலகத்தின் முடிவுபரியந்தம் சகல
              நாட்களிலும் நான் உங்களுடனேகூட இருக்கிறேன் என்றார். ஆமென்.
              மத்தேயு.28.19,20 வசனத்தின்படி இயேசுவை சந்திக்க ஆயத்தப்படுவோம்.
              <br />
              கர்த்தர் தாமே உங்களை ஆசீர்வதிப்பாராக. மாராநாதா..
            </p>
            <br />
            <p style="font-size: 18px; line-height: 2.5rem" class="text-center">
              As ministers at Bethel Pentecostal Church in Mumbai, we have
              started this Spiritual Truth Bible Study (STBS) ministry in
              accordance with God's will and the inspiration of the Holy Spirit,
              with the intention of bringing the deep divine messages given by
              the Spirit to all people through this website. Our vision is that
              all people should know the clear, correct, and deep truth,
              according to the verse,
              <b
                >"You know the truth, and the truth shall set you free" (John
                8.32).
              </b>
              The Gospel Messages are available on the STBS website via video
              and also the notes of the messages are available for download in
              PDF format. We have given all these with the vision that all
              people should get them for free. Keep us in your prayer, to carry
              the truth to many more people through this STBS website. Go
              therefore and make disciples of all nations, baptizing them in the
              name of the Father and of the Son and of the Holy Spirit, and
              teaching them to observe all that I have commanded you; Behold, I
              am with you always, even to the end of the age. " Amen. We will be
              ready to meet Jesus according to Matthew 28.19,20.
              <br />
              May the Lord bless you. Maranatha...
            </p>
            <!-- <button class="btn btn-outline-default btn-round">See More</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--sabita // -->
<!-- <div class="main" style="padding: 0% 8%">
  <div class="tz-gallery">
    <div class="text-center">
      <h4 class="title" style="font-size: 25px">My Gallery</h4>
    </div>

    <div class="tabs">
      <input type="radio" id="tab1" name="tab-control" checked />
      <input type="radio" id="tab2" name="tab-control" />
      <input type="radio" id="tab3" name="tab-control" />
      <input type="radio" id="tab4" name="tab-control" />
      <ul>
        <li title="English">
          <label for="tab1" role="button"
            ><svg viewBox="0 0 24 24">
              <path
                d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"
              /></svg
            ><br /><span>English</span></label
          >
        </li>
        <li title="Tamil">
          <label for="tab2" role="button"
            ><svg viewBox="0 0 24 24">
              <path
                d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"
              /></svg
            ><br /><span>Tamil</span></label
          >
        </li>
        <li title="Hindi">
          <label for="tab3" role="button"
            ><svg viewBox="0 0 24 24">
              <path
                d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"
              /></svg
            ><br /><span>Hindi</span></label
          >
        </li>
        <li title="Marathi">
          <label for="tab4" role="button"
            ><svg viewBox="0 0 24 24">
              <path
                d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"
              /></svg
            ><br /><span>Marathi</span></label
          >
        </li>
      </ul>

      <div class="slider"><div class="indicator"></div></div>
      <div class="content">
        <section>
          <h2>English</h2>
          <div class="row mt-2">
            <div class="col-sm-6 col-md-3" *ngFor="let img of engImgArr">
              <a class="lightbox">
                <img
                  loading="lazy"
                  height="329"
                  [src]="'../../../assets/img/gallery/eng/' + img"
                  alt="spiritual truth study"
                  laoding="lazy"
                />
              </a>
            </div>
          </div>
        </section>
        <section>
          <h2>Tamil</h2>

          <div class="row mt-2">
            <div class="col-sm-6 col-md-3" *ngFor="let img of tamilImgArr">
              <a class="lightbox">
                <img
                  [src]="'../../../assets/img/gallery/tamil/' + img"
                  loading="lazy"
                  height="329"
                  alt="spiritual truth study"
                />
              </a>
            </div>
          </div>
        </section>
        <section>
          <h2>Hindi</h2>

          <div class="row mt-2">
            <div class="col-sm-6 col-md-3" *ngFor="let img of hindiImgArr">
              <a class="lightbox">
                <img
                  [src]="'../../../assets/img/gallery/hindi/' + img"
                  loading="lazy"
                  height="329"
                  alt="spiritual truth study"
                />
              </a>
            </div>
          </div>
        </section>
        <section>
          <h2>Marathi</h2>

          <div class="row mt-2">
            <div class="col-sm-6 col-md-3" *ngFor="let img of marathiImgArr">
              <a class="lightbox">
                <img
                  [src]="'../../../assets/img/gallery/marathi/' + img"
                  loading="lazy"
                  height="329"
                  alt="spiritual truth study"
                />
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div> -->

<!-- <//test> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i
      ><strong>Snowflake</strong></a
    >
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link font-italic"> Home </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link font-italic"> About </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link font-italic"> Services </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link font-italic"> Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us</h1>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Spiritual Truth Study</h2> -->
<!-- <p class="font-italic text-muted mb-4">
          மும்பையிலுள்ள பெத்தேல் பெந்தேகோஸ்தே சபையில் ஊழியம் செய்து
          கொண்டிருக்கும் நாங்கள், எங்கள் சபையில் நடக்கும் வேதபாட ஆராச்சி
          கூட்டங்களில் ஆவியானவர் மூலமாய் கொடுக்கப்பட்ட ஆழமான தேவ செய்திகளை
          இணையதளம் மூலமாய் எல்லா ஜனங்களுக்கும் கொண்டுசெல்ல வேண்டும் என்ற
          நோக்கில், தேவ சித்தத்தின்படியும் ஆவியானவரின் ஏவுதலின்படியும் இந்த
          Spiritual Truth Bible Study (STBS) ஊழியத்தை ஆரம்பித்துள்ளோம்.
          சத்தியத்தையும் அறிவீர்கள், சத்தியம் உங்களை விடுதலையாக்கும்
          (யோவான்.8.32) என்ற வசனத்தின்படி, சகல ஜனங்களும் தெளிவான, சரியான, ஆழமான
          சத்தியத்தை அறிந்து கொள்ளவேண்டும் என்பது எங்களின் தரிசனமாகும். STBS
          இணையதளத்தில் தேவசெய்திகள் வீடியோ (Video) மூலமாகவும், செய்திகளின்
          குறிப்புக்கள் PDF முறையில் பதிவிறக்கம் செய்யும் படியாகவும்
          கொடுக்கப்பட்டுள்ளது. இவைகள் எல்லாம் இலவசமாக எல்லா ஜனங்களும்
          பெற்றுக்கொள்ளவேண்டும் என்னும் நோக்கத்தோடு கொடுத்துள்ளோம். இந்த STBS
          இணையதளம் மூலம் இன்னும் அநேக ஜனங்களுக்கு சத்தியத்தை கொண்டு செல்ல
          தொடர்ந்து எங்களுக்காக ஜெபியுங்கள். ஆகையால், நீங்கள் புறப்பட்டுப்போய்
          சகல ஜாதிகளையும் சீஷராக்கி, பிதா குமாரன் பரிசுத்த ஆவியின் நாமத்திலே
          அவர்களுக்கு ஞானஸ்நானங்கொடுத்து, நான் உங்களுக்குக் கட்டளையிட்ட யாவையும்
          அவர்கள் கைக்கொள்ளும்படி அவர்களுக்கு உபதேசம் பண்ணுங்கள்; இதோ, உலகத்தின்
          முடிவுபரியந்தம் சகல நாட்களிலும் நான் உங்களுடனேகூட இருக்கிறேன் என்றார்.
          ஆமென். மத்தேயு.28.19,20 வசனத்தின்படி இயேசுவை சந்திக்க ஆயத்தப்படுவோம்.
          கர்த்தர் தாமே உங்களை ஆசீர்வதிப்பாராக. மாராநாதா..
        </p>
        <p class="mb-4">
          As ministers at Bethel Pentecostal Church in Mumbai, we have started
          this Spiritual Truth Bible Study (STBS) ministry in accordance with
          God's will and the inspiration of the Holy Spirit, with the intention
          of bringing the deep divine messages given by the Spirit to all people
          through this website. Our vision is that all people should know the
          clear, correct, and deep truth, according to the verse, "You know the
          truth, and the truth shall set you free" (John 8.32). The Gospel
          Messages are available on the STBS website via video and also the
          notes of the messages are available for download in PDF format. We
          have given all these with the vision that all people should get them
          for free. Keep us in your prayer, to carry the truth to many more
          people through this STBS website. Go therefore and make disciples of
          all nations, baptizing them in the name of the Father and of the Son
          and of the Holy Spirit, and teaching them to observe all that I have
          commanded you; Behold, I am with you always, even to the end of the
          age. " Amen. We will be ready to meet Jesus according to Matthew
          28.19,20. May the Lord bless you. Maranatha...
        </p> -->
<!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
          >Learn More</a
        > -->
<!-- </div> -->
<!-- <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div> -->
<!-- </div> -->
<!-- <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
      <div class="col-lg-6">
        <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
        <p class="font-italic text-muted mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
          >Learn More</a
        >
      </div>
    </div> -->
<!-- </div>
</div> -->

<!-- <div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Manuella Nevoresky</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Samuel Hardy</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Tom Sunderland</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">John Tarly</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">
      &copy; Copyrights Company.com All rights reserved.
    </p>
  </div>
</footer> -->
