<div
  class="page-header"
  style="background-image: url('./assets/img/daniel-olahh.jpg'); margin-top: 5%"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h3 class="animate__animated animate__bounce animate__delay-14s">
        சத்தியத்தையும் அறிவீர்கள், சத்தியம் உங்களை விடுதலையாக்கும் என்றார்.
      </h3>
      <br />
      <!-- <h1>Promise Verse</h1> -->
      <h2
        class="animate__animated animate__bounce animate__delay-14s"
        style="
          font-size: calc(2em + 1vw);
          font-family: 'Nuptial BT', sans-serif;
        "
      >
        <!--font-size: 46px;  -->

        You Shall know the truth, and the truth shall set you free.
      </h2>
      <h4
        style="font-size: 16px"
        class="animate__animated animate__bounce animate__delay-14s"
      >
        யோவான் 8:32 &nbsp;&nbsp;&nbsp; John 8 : 32
      </h4>

      <br />
      <!-- <a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        class="btn btn-outline-neutral btn-round"
        ><i class="fa fa-play"></i>Watch video</a
      >
      <button type="button" class="btn btn-outline-neutral btn-round">
        Download
      </button> -->
    </div>
  </div>
</div>
