<app-landing-page-banner></app-landing-page-banner>
<div class="main pt-5">
  <div class="container">
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="4"
      [theme]="{ 'border-radius': '0', height: '165px' }"
    ></ngx-skeleton-loader>
    <ng-container *ngIf="!isLoading">
      <div class="text-center">
        <h2 class="title fs-2">{{ this.topicObj.name }}</h2>
      </div>

      <div
        class="row mt-3"
        *ngFor="let subTopic of topicObj.subTopics; index as i"
      >
        <div
          class="col-md-6 no-trans"
          [ngClass]="{ 'order-2': i % 2 !== 0 && !detectMob() }"
        >
          <div class="mini-spacer">
            <img
              [src]="subTopic.img"
              alt="spiritual truth study"
              class="img-fluid"
              loading="lazy"
            />
          </div>
        </div>
        <div class="col-md-6" style="background: azure">
          <h3 class="title" style="font-weight: 500">{{ subTopic.name }}</h3>
          <p style="line-height: 1.8em !important">
            {{ subTopic.description }}
          </p>
          <!-- <p class="m-t-30 m-b-30">
          Adipisicing sit minim occaecat nulla proident exercitation do laboris.
        </p>
        <p class="m-t-30 m-b-30">
          Laboris culpa ea est et aliqua amet ullamco Lorem non enim laborum
          incididunt ex Lorem. Minim sint cupidatat magna esse labore id.
        </p> -->

          <div class="m-t-30 mb-2 pt-5">
            <button
              type="button"
              class="btn btn-outline-danger btn-round mr-md-3 mr-lg-3"
              (click)="watchVideo(subTopic)"
            >
              <i class="fa fa-play"></i>Watch Video
            </button>
            <!-- <button
            type="button"
            class="btn btn-outline-neutral btn-round"
            (click)="downloadNotes()"
          >
            Download Notes
          </button> -->
            <a
              (click)="downloadNotes(subTopic)"
              class="cursor"
              *ngIf="subTopic.fileLink"
            >
              <i class="fa fa-download" aria-hidden="true"></i>
              Download Notes
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- 
<div class="section" id="video-section">
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div> -->
<!-- </ng-template>
  </ngb-carousel> -->
<!-- <div class="container">
  <button (click)="open()">open</button>
</div> -->
<!-- Vertically centered modal -->
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mw-100 w-75">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="{{ topicObj.subTopics[0].youtubeLink }}"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <button (click)="previous()" class="btn btn-default">
  <i class="fa fa-chevron-left"></i>
</button>

<div
  [@slider]="selectedIndex"
  class="slider-container"
  style="margin: 20px 10px"
>
  <div class="slide" *ngFor="let image of images">
    <img [src]="image" />
  </div>
</div>
<button (click)="next()" class="btn btn-default">
  <i class="fa fa-chevron-right"></i>
</button> -->
