.order-2 {
  order: 2;
}
// h2 {
//   font-weight: 300;
//   display: inline-block;
//   padding-bottom: 20px;
//   position: relative;
// }
// h2::before {
//   content: "";
//   position: absolute;
//   width: 50%;
//   height: 1px;
//   bottom: 0;
//   left: 25%;
//   border-bottom: 3px solid #8c4040;
// }
.modal-header {
  border-bottom: 1px solid #dddddd;
  padding: 0px;
  text-align: center;
  display: flex !important;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .fs-2 {
    font-size: 2em;
  }
  .title {
    margin-top: 3%;
  }
}

// .btn-outline-danger:hover {
//   background-color: #c4302b;
//   color: white;
// }
h2 {
  font-weight: 500;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  font-size: 32px;
}
h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 3px solid #8c4040;
}
