.title {
  font-weight: 500;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  font-size: 32px;
}
.title::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 3px solid #8c4040;
}
